:root {
  font-family: Victor Mono, Avenir, Helvetica, Arial, monospaced;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.03em;

  color-scheme: light dark;
  /* color: rgba(0, 49, 16, 0.87); */
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 700;
  color: #ff2600;
  text-decoration: inherit;
}

a:hover {
  color: #ffa4d6;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  /* background-image: url('/wine-grain.svg'); */
  background-image: url('/gggrain (5).svg');
  /* background-image: url('/wine-grain.svg');
  background-image: url('/wine-grain.svg');
  background-image: url('/wine-grain.svg'); */
  background-repeat: no-repeat;
  background-size: 100%;
}

h1,
h2,
h3 {
  font-size: 4em;
  line-height: 1.1;
  letter-spacing: -0.08em;
  font-family: Playfair Display;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ff00fb;
}

button {
  border-radius: 100%;
  border-color: black;
  border-style: solid;
}

button:focus,
button:focus-visible {
  outline: 4px auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}