@use "mixins";
@use "variables";
@use "tailwindcss";

:root {
  font-family: Lekton, monospaced;
  line-height: 1.3;
  font-weight: 200;
  letter-spacing: -0.05em;
  background-color: white;
  /* background-image: url(/public/gggrain-3.svg);
  background-size: cover;
  background-repeat: repeat; */
  /* color: rgb(0, 0, 0); */
  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
  min-width: 0;
}
body, main {
display: flex;
flex-direction: columm;
width: 100dvw
}
nav nav > ul,
nav > ol {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* ou defina uma altura */
}

.video-container video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.video-container .overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(160, 141, 123, 0.353);
  z-index: 1;
}

// Layout
.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 'title description description'
'. description description';
}

.title {grid-area: title; font-size: 5em}
.description {grid-area: description}
